<mat-toolbar color="primary" class="fixed-header">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    @if (auth.isLoggedIn()) {
      <div class="user-widget" [matTooltip]="'Logado como ' + auth.username()">
        <mat-icon>account_circle</mat-icon>
        <span class="username">{{ auth.username() }}</span>
      </div>
    } @else {
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    }
  </mat-toolbar>
